.adotz {
  color: rgb(23, 71, 158);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  background-color: #fff;
  border-bottom: 1px solid #c0c0c0;
  color: rgb(249, 168, 112);
}

.navbar_logo {
  display: flex;
  align-items: center;
}

.navbar_logo img {
  width: 40px;
  margin-right: 0.8em;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar li,
.navbar a {
  text-decoration: none;
  color: rgb(23, 71, 158);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5em 0.8em;
  border-radius: 5px;
}

.navbar li:hover {
  background-color: rgb(23, 71, 158);
  margin: 0 5px;
  color: #fff;
}

.navbar li:hover > a {
  color: #fff;
}
